/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Base Styles */

/* Using an Augmented Fourth modular scale:
* https://www.modularscale.com/?1.2&em&1.414
*/

/* Screen Size = 120px */

html {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2em;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 1.414em;
  line-height: 1.414em;
  padding: 0.5em 0;
  text-align: center;
}

a {
  color: #888;
  text-decoration: none;
}

#product main a {
  color: black;
}

footer a,
h1 a {
  color: pink;
}

footer a:hover,
a:hover,
.page-link a:hover {
  color: hotpink;
}

footer a:active,
a:active,
.page-link a:active {
  color: red;
}

nav a:hover {
  background-color: #ddd;
}

nav a:active {
  background-color: #888;
  color: white;
}

.page-link a {
  color: blue;
}

#slogan {
  background-color: blue;
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 1.1em;
  font-style: oblique;
  line-height: 1.4em;
  padding: 0.25em 0.5em 0.25em 0.5em;
  text-align: center;
}

footer {
  font-size: 0.707em;
  line-height: 1.414em;
  padding: 0.5em;
}

main {
  padding: 0 0.5em;
  margin-top: 0.75em;
}

article {
  margin-bottom: 2em;
}

article:last-of-type {
  margin-bottom: 1em;
}

h3 {
  font-size: 1.1em;
  font-style: oblique;
  font-weight: bold;
  padding: 0.5em 0;
  text-align: center;
}

p {
  font-size: 0.9em;
  line-height: 1.414em;
  padding-bottom: 0.5em;
}

h4 {
  font-size: 1em;
  padding-bottom: 0.5em;
  text-align: center;
}

img {
  max-width: 100%;
}

#partners p {
  text-align: center;
}

section {
  padding-top: 0.5em;
}

#partners img {
  display: block;
  margin: 0 auto;
  width: 3.3em;
}

li {
  list-style: none;
}

#companies,
#accreditations,
#certifications,
.centered {
  text-align: center;
}

main ul,
.item main ul {
  display: inline-block;
  text-align: left;
}

main li {
  font-size: 0.9em;
  padding: 0.2em 0;
}

#about main li,
#record main li {
  padding-left: 1.5em;
  text-indent: -0.74em;
}

.item main li {
  line-height: 1.44em;
  padding-bottom: 0.5em;
  padding-left: 1.1em;
  text-indent: -0.64em;
}

#brands img {
  display: block;
  margin: 0 auto;
  padding: 0.144em;
  width: 3em;
}

#accreditations h3 {
  font-size: 0.95em;
}

#certifications h3 {
  font-size: 1em;
}

i {
  margin: 0.1em;
}

.hidden {
  display: none;
}

/* -- Contact Page --*/
#contact-opening {
  background-color: #daff26;
  color: #4b26ff;
  font-weight: bold;
  padding: 0.5em;
  text-align: center;
}

iframe {
  border: 0.1em solid #808080;
  height: 100px;
  margin-bottom: 0.33em;
  max-width: 100%;
}

#phone p,
#email p {
  color: #888;
  text-align: center;
  word-break: break-all;
}

/* -- Record Page -- */
#record i {
  padding-right: 0.28em;
}

#record main img {
  border: 0.01em solid #808080;
  margin: auto;
  max-width: 100%;
}

#record h3,
#record h4 {
  line-height: 1.2em;
}

#under-constr {
  display: block;
  margin: 3em auto;
  max-width: 70%;
}

/* -- Product Page -- */
#product main {
  margin-bottom: 2em;
}

#product img {
  max-width: 10em;
  width: 90%;
}

#product h3,
#product h4 {
  line-height: 1.2em;
}

#product main a:hover {
  background-color: #999999;
  opacity: 0.22;
}

#product main a:active {
  background-color: black;
  opacity: 0.055;
}

.prod-img {
  display: block;
  margin: 0.5em auto 1em auto;
  max-width: 20em;
  width: 100%;
}

.download-btn {
  border: 0.1em double #303030;
  color: black;
  display: block;
  text-align: center;
  margin: 1em auto 1em auto;
  max-width: 10em;
  width: 100%;
}

.download-btn:hover,
.download-btn:active {
  background-color: black;
  color: white;
  opacity: 0.6;
}

.download-btn:active {
  color: black;
}

.item p {
  margin-bottom: 0.5em;
}

h5 {
  line-height: 1.2em;
  font-weight: bold;
  margin: 1em 0 0.5em 0;
  text-align: center;
}

.item i {
  padding-right: 0.2em;
}

/* -- Home Page -- */
.slide {
  display: none;
}

#home main {
  padding: 0;
}

#home-banner {
  display: none;
  margin-top: -0.62em;
}

.slideshow-container {
  margin-top: -1.12em;
  width: 100%;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  animation-name: fade;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#quick-links {
  margin-top: -2em;
}

.brace {
  display: block;
  margin: 0 auto;
  max-width: 6em;
  width: 80%;
}

#quick-links h4 {
  line-height: 1.2em;
}

.qlink-img {
  display: block;
  margin: 0.5em auto;
  width: 70%;
}

.qlink-img:hover {
  opacity: 0.6;
}

.qlink-img:active {
  opacity: 0.2;
}

#quick-links a:hover {
  color: #b2b2b2;
}

#quick-links a:active {
  color: #eeeeee;
}

#intro {
  grid-column: 1 / -1;
  margin-top: -1em;
}

.fancy {
  font-family: 'Kalam', cursive, Arial;
}

#intro-text {
  text-align: center;
}

.inverted {
  transform: scaleY(-1);
}

/* -- Error Page -- */
#error #site-index {
  font-size: 0.9em;
}

#error #site-index h4 {
  font-style: oblique;
}

#error main img {
  margin: 0 auto;
  max-width: 100%;
}

#error h3 {
  line-height: 1.2em;
  margin-top: -1em;
}

#error h4 {
  border-top: 0.1em solid #808080;
  font-size: 1em;
  padding-top: 1em;
  margin-top: 0.5em;
}

#error h3::after {
  display: none;
}

#error li {
    align-self: center;
}

/* Layout Styles */

#c2,
#name {
  display: none;
}

i {
  display: block;
}

nav ul {
  display: flex;
  flex-direction: column;
}

nav ul a {
  display: flex;
  flex-direction: column;
}

@supports (display:flex) {

  nav ul li {
    flex: 1 0 auto;
    padding-bottom: 0.1em;
    text-align: center;
  }

  nav ul:first-child {
    padding-top: 0.1em;
  }
}

#partners,
#brands {
  display: flex;
  flex-direction: column;
}

@supports (display: flex) {
  #partners section {
    border: 0.1em solid black;
    margin: auto;
    margin-bottom: 0.5em;
    padding: 0.5em 0.5em 0 0.5em;
  }
}

/* -- Record Page -- */
#airlines,
#banking,
#builders,
#corporate,
#hospitals,
#insurance,
#education,
#freq-conv,
#government,
#hotels,
#medical,
#pharmaceuticals,
#shares,
#shopping {
  display: grid;
  grid-gap: 0.33em;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

#airlines {
  max-width: 30em;
}

#banking {
  max-width: 60em;
}

#builders,
#education,
#pharmaceuticals {
  max-width: 52.5em;
}

#diamond img {
  display: block;
  margin: 0 auto;
}

#hospitals,
#medical,
#hotels {
  max-width: 37.5em;
}

#insurance {
  max-width: 16em;
}

#freq-conv,
#government {
  max-width: 45em;
}

#shares {
  max-width: 67.5em;
}

#shopping {
  max-width: 22.5em;
}

#record #clients h4 {
  grid-column: 1 / -1;
}

@supports (display: grid) {
  #record #clients section {
    border-top: 0.1em solid #808080;
    margin: 0 auto 3em auto;
  }

  #record #clients h4 {
    font-style: italic;
    font-weight: bold;
  }
}

#quick-links section {
  display: flex;
  flex-direction: column-reverse;
}

/* -- Error Page -- */
#error main {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto;
  margin: 2em 0;
}

#error #site-index {
  display: contents;
}

#error #site-index ul {
  display: flex;
  flex-direction: column;
}

@supports (display: flex) {
  #error #site-index li {
    margin: 0.1em;
    padding: 0.1em;
    text-align: center;
  }
  #error #site-index li:last-of-type {
    border-bottom: 0;
  }
}


/* Module Styles */

header,
footer {
  background-color: black;
  color: white;
}

nav {
  background-color: white;
}

nav a {
  background-color: #222;
  color: #bbb;
  padding: 0.25em;
}

h3::after {
    border-bottom: 0.2em double black;
    content: "";
    display: block;
    margin: 0.33em auto 0.25em auto;
    width: 50%;
}

#enquiry ul {
  max-width: 100%;
}

#enquiry li {
  margin: 0.2em auto;
  width: 90%;
}

label,
input,
textarea {
  margin-top: 0.2em;
  width: 97%;
}

form {
  border: 0.1em solid #2f4f4f;
  max-width: 100%;
}

.inp-btn {
  display: block;
  margin: 0 auto 0.5em auto;
  width: 80%;
}

/* -- Product Page -- */
#product main a {
  border: 0.1em solid black;
  margin-bottom: 0.5em;
}

#product img {
  display: block;
  margin: 0 auto 0.33em auto  ;
}


/* State Styles */

@media screen and (min-width: 135px) {

  main {
    padding: 0 0.75em;
  }

  #partners img,
  #brands img {
    width: 4em;
  }

  #accreditations h3,
  #certifications h3 {
    font-size: 1.1em;
  }

}

@media screen and (min-width: 200px) {
  main {
    padding: 0 1em;
  }

  h3,
  #accreditations h3,
  #certifications h3 {
    font-size: 1.24em;
  }

  #contact-opening,
  #contact h4 {
    font-size: 1.2em;
    line-height: 1.2em;
  }

  #quick-links {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr;
  }

  #intro-text {
    font-size: 1em;
    margin: 0 0.5em -0.5em 0.5em;
  }
}

@media screen and (min-width: 250px) {
  #error main img {
    max-width: 10em;
  }

  #error h4 {
    font-size: 1.2em;
    line-height: 1.44em;
  }

  #error li {
    font-size: 1em;
  }

  h1 {
    font-size: 1.8em;
  }

  #slogan {
    font-size: 1.26em;
    padding: 0.5em;
  }

  nav li {
    font-size: 1.33em;
  }

  h3,
  #accreditations h3,
  #certifications h3 {
    font-size: 1.4em;
  }

  #contact h4 {
    font-size: 1.33em;
  }

  iframe {
    height: 150px;
  }

  p,
  main li {
    font-size: 1em;
  }

  h4 {
    font-size: 1.1em;
  }

  #partners img,
  #brands img {
    width: 5em;
  }

  #brands {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  input,
  textarea {
    margin-top: 0.33em;
  }

  #record main li {
    text-indent: -0.82em;
  }

  #insurance {
    grid-template-columns: repeat(2, 1fr);
  }

  .download-btn {
    font-size: 1.2em;
    padding: 0.2em;
  }

  h5 {
    font-size: 1.2em;
  }

  #intro-text {
    font-size: 1.2em;
    margin: 0.2em 1em -0.5em 1em;
  }

  @supports (display: grid) {
    #brands h3 {
      grid-column: 1 / -1;
    }
  }
}

@media screen and (min-width: 300px) {
  h1 {
    font-size: 2.1em;
  }

  nav ul {
    flex-direction: row;
    flex-wrap: wrap;
  }

  nav li {
    width: 40%;
  }

  form {
    margin: 0 auto;
    width: 265px;
  }

  #product main {
    display: grid;
    grid-gap: 0.33em;
    grid-template-columns: 1fr 1fr;
  }

  #product main h3 {
    grid-column: 1 / -1;
  }

  #home main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #home-banner {
    display: block;
  }

  .brace {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    max-width: 8em;
  }

}

@media screen and (min-width: 320px) {
  #error main {
    align-items: center;
    grid-template-columns: 1fr 2fr;
  }

  #error h4 {
    border-top: none;
    padding-top: 0;
  }

  #error h3 {
    margin: auto;
  }

  #error main ul {
    grid-row-gap: 0.5em;
    padding-top: 0.5em;
  }

  @supports (display: grid) {
    #error main img {
      max-width: 100%;
      order: -1;
    }

    #error h4,
    #error main ul {
      grid-column: 1 / -1;
    }
  }

  #error #site-index ul {
    border-top: 0.1em solid black;
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 350px) {
  h1 {
    font-size: 2.4em;
  }

  nav ul {
    flex-direction: row;
    flex-wrap: wrap;
  }

  main {
    padding: 0 1.2em;
  }

  #partners img {
    width: 6em;
  }

  #partners {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  iframe {
    height: 200px;
  }

  #contact-opening {
    font-size: 1.41em;
  }

  #quick-links {
    grid-template-columns: repeat(4, 1fr);
  }

  @supports (display: flex) {
    nav li {
      width: 30%;
    }
  }

  @supports (display: grid) {
    #partners h3 {
      grid-column: 1 / -1;
    }
  }
}

@media screen and (min-width: 400px) {

  #error #site-index {
    font-size: 1em;
  }

  #error #site-index ul {
    margin-top: 1em;
  }

  #error #site-index h4 {
    margin-top: 1em;
  }

  h1 {
    font-size: 3em;
  }

  #slogan {
    font-size: 1.6em;
  }

  main {
    padding: 0 1.3em;
  }

  h3,
  #accreditations h3,
  #certifications h3 {
    font-size: 1.5em;
  }

  #contact-opening {
    font-size: 1.44em;
  }

  p,
  main li,
  h4 {
    font-size: 1.2em;
  }

  p {
    padding-bottom: 0.75em;
  }

  #about main li {
    padding: 0.5em 0;
    padding-left: 1.5em;
  }

  #brands {
    grid-template-columns: 1fr 5fr 5fr 1fr;
  }

  #brand-1 {
    grid-column: 2 / 3;
  }

  #brand-2 {
    grid-column: 3 / 4;
  }

  input,
  textarea {
    margin-top: 0.5em;
  }

  .inp-btn {
    font-size: 1em;
  }

  #contactInfo {
    margin-top: 0.5em;
  }

  #record main li {
    padding-left: 1.8em;
    text-indent: -0.97em;
  }

  #shopping {
    grid-template-columns: repeat(3, 1fr);
  }

  .download-btn {
    font-size: 1.5em;
    padding: 0.33em;
  }

  h5 {
    font-size: 1.5em;
    margin: 1.5em 0 0.77em 0;
  }
}

@media screen and (min-width: 450px) {
  #contact-opening {
    font-size: 1.8em;
  }

  #intro-text {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 500px) {
  #error main {
    margin: 3em 1em;
  }

  #error h3 {
    font-size: 1.7em;
  }

  #error #site-index  {
    font-size: 1.414em;
    line-height: 1.414em;
  }

  #brands img {
    margin-bottom: 0.5em;
    width: 6em;
  }

  iframe {
    height: 250px;
  }

  #quick-links {
    margin: 0.5em 1em;
  }

  #intro {
    margin-bottom: -0.5em;
  }

}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 3.5em;
  }

  #slogan {
    font-size: 1.75em;
  }

  main {
    padding: 0 1.8em;
  }

  h3,
  #accreditations h3,
  #certifications h3 {
    font-size: 1.8em;
  }

  h3::after {
    margin-top: 0.5em;
  }

  #partners {
    grid-template-columns: 1fr 3fr 3fr 1fr;
  }

  #partner-1 {
    grid-column: 2 / 3;
  }

  #partner-2 {
    grid-column: 3 / 4;
  }

  #brands {
    grid-template-columns: 1fr 3fr 3fr 1fr;
  }

  iframe {
    height: 300px;
  }

  #contact-opening {
    font-size: 2em;
  }

  #contactInfo {
    margin-top: 1.2em;
  }

  footer {
    font-size: 0.8em;
  }

  #hospitals {
    grid-template-columns: repeat(5, 1fr);
  }

  #product main {
    grid-template-columns: repeat(4, 1fr);
  }

  @supports (display: flex) {
    nav li {
      width: 16%;
    }

    nav i {
      padding: 0.25em 0 0.18em 0;
    }

    nav a {
      padding-bottom: 0.5em;
    }

  }
}

@media screen and (min-width: 650px) {
  #error #site-index h4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 0;
  }

  #error #site-index ul {
    padding-top: 1em;
  }

  #error main img {
    grid-row: 1 / 3;
  }

  #hotels,
  #medical {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 700px) {
  #quick-links {
    margin: 1em 1.5em;
  }
}

@media screen and (min-width: 750px) {
  #error main {
    margin: 4em 2em;
  }

  #error #site-index ul {
    grid-template-columns: repeat(3,auto);
  }

  #brands {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #brands img {
    width: 7em;
  }

  iframe {
    height: 350px;
  }

  #freq-conv,
  #government {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 800px) {
  main {
    padding: 0 2.5em;
  }

  p,
  main li,
  h4 {
    font-size: 1.28em;
  }

  #partners {
    grid-template-columns: 1fr 2fr 2fr 1fr;
  }

  #record main li {
    padding-left: 2em;
    text-indent: -1.02em;
  }

  .download-btn {
    font-size: 1.8em;
    padding: 0.4em;
  }

  #intro-text {
    font-size: 1.8em;
    margin-left: 1.2em;
    margin-right: 1.2em;
  }

  #intro {
    margin-bottom: 1em;
    margin-top: 1em;
  }
}

@media screen and (min-width: 850px) {
  iframe {
    height: 400px;
  }

  #builders,
  #education,
  #pharmaceuticals {
    grid-template-columns: repeat(7, 1fr);
  }

  h5 {
    font-size: 1.8em;
    margin: 1.8em 0 0.9em 0;
  }

}

@media screen and (min-width: 900px) {
  #error main h3 {
    font-size: 2em;
  }

  #error #site-index {
    font-size: 1.7em;
    line-height: 1.414em;
  }

  #partners {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #calling-card {
    display: grid;
    grid-template-columns: 12fr 8fr 1fr;
  }

  .qlink-img {
    max-width: 12em;
  }

  #quick-links {
    margin: 2em;
  }

  @supports (display: grid) {
    #calling-card {
      border: 0.1em solid #2f4f4f;
      margin: 0 auto;
      width: 53em;
    }

    #c {
      display: none;
    }

    #c2,
    #name {
      display: block;
    }

    #name {
      display: flex;
      margin: 0 auto;
      grid-column: 1 / -1;
    }

    #c-ace {
      margin: auto 1em;
      order: -1;
      width: 7em;
    }

    #name h4 {
      font-size: 2.5em;
      margin: 0.5em 0.5em 0 0;
    }

    #name i {
      font-size: 0.55em;
    }

    #address {
      display: contents;
    }

    iframe {
      grid-column: 1 / 2;
      grid-row: 2 / 5;
      height: 250px;
      margin: 0 auto 2em auto;
      width: 80%;
    }

    #address h4,
    #phone h4,
    #email h4 {
      display: none;
    }

    #address,
    #phone,
    #email {
      font-size: 0.8em;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      margin: auto;
    }

    #phone {
      grid-row: 3 / 4;
    }

    #email {
      grid-row: 4 / 5;
    }

    #phone p,
    #email p {
      word-break: keep-all;
    }

    #contact h3::after {
      display: none;
    }

    #address p {
      margin-left: 1.2em;
    }
  }

}

@media screen and (min-width: 950px) {
  #banking {
    grid-template-columns: repeat(8, 1fr);
  }

  #intro-text {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}

@media screen and (min-width: 1000px) {
  #intro-text {
    font-size: 2em;
  }
}

@media screen and (min-width: 1050px) {
  #shares {
    grid-template-columns: repeat(9, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  #intro {
    margin-top: 2em;
  }

  #error main h3 {
    font-size: 2.7em;
  }

  #error #site-index {
    font-size: 2em;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4em;
  }

  #slogan {
    font-size: 1.86em;
  }

  main {
    padding: 0 3em;
  }

  h3,
  #accreditations h3,
  #certifications h3 {
    font-size: 2em;
  }

  p,
  main li,
  h4 {
    font-size: 1.3em;
  }

  #contact main {
    display: grid;
    grid-template-columns: 5fr 2fr;
  }

  #contactInfo {
    margin-top: 1.6em;
  }

  #intro-text {
    font-size: 2.4em;
    margin-left: 2em;
    margin-right: 2em;
  }

  #intro {
    margin-bottom: 2.5em;
    margin-top: 3em;
  }

  @supports (display: grid) {
    #contact-opening {
      grid-column: 1 / -1;
    }

    #enquiry {
      margin: auto;
    }

    #calling-card {
      width: 50em;
    }

    #address p {
      margin-left: 1.6em;
    }

    #enquiry h3 {
      font-size: 1.8em;
    }
  }

  #record main li {
    padding-left: 2.5em;
  }

  @supports (display: flex) {
    nav li {
      font-size: 1.6em;
    }

    nav i {
      padding-bottom: 0.33em;
    }
  }
}

@media screen and (min-width: 1300px) {
  @supports (display: grid) {
    #calling-card {
      width: 53em;
    }

    #address p {
      padding-left: 1.2em;
    }

    #enquiry h3 {
      font-size: 2em;
    }
  }
}
