/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Base Styles */

/* Using an Augmented Fourth modular scale:
* https://www.modularscale.com/?1.2&em&1.414
*/

/* Screen Size = 120px */

html {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2em;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 1.414em;
  line-height: 1.414em;
  padding: 0.5em 0;
  text-align: center;
}

a {
  color: #888;
  text-decoration: none;
}

footer a,
h1 a {
  color: pink;
}

footer a:hover,
a:hover,
.page-link a:hover {
  color: hotpink;
}

footer a:active,
a:active,
.page-link a:active {
  color: red;
}

nav a:hover {
  background-color: #ddd;
}

nav a:active {
  background-color: #888;
  color: white;
}

.page-link a {
  color: blue;
}

#slogan {
  background-color: blue;
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 1.1em;
  font-style: oblique;
  line-height: 1.4em;
  padding: 0.25em 0.5em 0.25em 0.5em;
  text-align: center;
}

footer {
  font-size: 0.707em;
  line-height: 1.414em;
  padding: 0.5em;
}

main {
  padding: 0 0.5em;
  margin-top: 0.75em;
}

article {
  margin-bottom: 2em;
}

article:last-of-type {
  margin-bottom: 1em;
}

h3 {
  font-size: 1.1em;
  font-style: oblique;
  font-weight: bold;
  padding: 0.5em 0;
  text-align: center;
}

p {
  font-size: 0.9em;
  line-height: 1.414em;
  padding-bottom: 0.5em;
}

h4 {
  font-size: 1em;
  padding-bottom: 0.5em;
  text-align: center;
}

img {
  max-width: 100%;
}

#partners p {
  text-align: center;
}

section {
  padding-top: 0.5em;
}

#partners img {
  display: block;
  margin: 0 auto;
  width: 3.3em;
}

li {
  list-style: none;
}

#companies,
#accreditations,
#certifications {
  text-align: center;
}

main ul {
  display: inline-block;
  text-align: left;
}

main li {
  font-size: 0.9em;
  padding: 0.2em 0;
  padding-left: 1.5em;
  text-indent: -0.74em;
}


#brands img {
  display: block;
  margin: 0 auto;
  padding: 0.144em;
  width: 3em;
}

#accreditations h3 {
  font-size: 0.95em;
}

#certifications h3 {
  font-size: 1em;
}

i {
  margin: 0.1em;
}


/* Layout Styles */

i {
  display: block;
}

nav ul {
  display: flex;
  flex-direction: column;
}

nav ul a {
  display: flex;
  flex-direction: column;
}

@supports (display:flex) {

  nav ul li {
    flex: 1 0 auto;
    padding-bottom: 0.1em;
    text-align: center;
  }

  nav ul:first-child {
    padding-top: 0.1em;
  }
}

#partners,
#brands {
  display: flex;
  flex-direction: column;
}

@supports (display: flex) {
  #partners section {
    border: 0.1em solid black;
    margin: auto;
    margin-bottom: 0.5em;
    padding: 0.5em 0.5em 0 0.5em;
  }
}


/* Module Styles */

header,
footer {
  background-color: black;
  color: white;
}

nav {
  background-color: white;
}

nav a {
  background-color: #222;
  color: #bbb;
  padding: 0.25em;
}

h3::after {
    border-bottom: 0.2em double black;
    content: "";
    display: block;
    margin: 0.33em auto 0.25em auto;
    width: 50%;
}


/* State Styles */

@media screen and (min-width: 135px) {

  main {
    padding: 0 0.75em;
  }

  #partners img,
  #brands img {
    width: 4em;
  }

  #accreditations h3,
  #certifications h3 {
    font-size: 1.1em;
  }

}

@media screen and (min-width: 200px) {
  main {
    padding: 0 1em;
  }

  h3,
  #accreditations h3,
  #certifications h3 {
    font-size: 1.24em;
  }
}

@media screen and (min-width: 250px) {
  h1 {
    font-size: 1.8em;
  }

  #slogan {
    font-size: 1.26em;
    padding: 0.5em;
  }

  nav li {
    font-size: 1.33em;
  }

  h3,
  #accreditations h3,
  #certifications h3 {
    font-size: 1.4em;
  }

  p,
  main li {
    font-size: 1em;
  }

  h4 {
    font-size: 1.1em;
  }

  #partners img,
  #brands img {
    width: 5em;
  }

  #brands {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @supports (display: grid) {
    #brands h3 {
      grid-column: 1 / -1;
    }
  }
}

@media screen and (min-width: 300px) {
  h1 {
    font-size: 2.1em;
  }

  nav ul {
    flex-direction: row;
    flex-wrap: wrap;
  }

  nav li {
    width: 40%;
  }

}

@media screen and (min-width: 350px) {
  h1 {
    font-size: 2.4em;
  }

  nav ul {
    flex-direction: row;
    flex-wrap: wrap;
  }

  main {
    padding: 0 1.2em;
  }

  #partners img {
    width: 6em;
  }

  #partners {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @supports (display: flex) {
    nav li {
      width: 30%;
    }
  }

  @supports (display: grid) {
    #partners h3 {
      grid-column: 1 / -1;
    }
  }
}

@media screen and (min-width: 400px) {

  h1 {
    font-size: 3em;
  }

  #slogan {
    font-size: 1.6em;
  }

  main {
    padding: 0 1.3em;
  }

  h3,
  #accreditations h3,
  #certifications h3 {
    font-size: 1.5em;
  }

  p,
  main li,
  h4 {
    font-size: 1.2em;
  }

  p {
    padding-bottom: 0.75em;
  }

  main li {
    padding: 0.5em 0;
    padding-left: 1.5em;
  }

  #brands {
    grid-template-columns: 1fr 5fr 5fr 1fr;
  }

  #brand-1 {
    grid-column: 2 / 3;
  }

  #brand-2 {
    grid-column: 3 / 4;
  }
}

@media screen and (min-width: 500px) {
  #brands img {
    margin-bottom: 0.5em;
    width: 6em;
  }
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 3.5em;
  }

  #slogan {
    font-size: 1.75em;
  }

  main {
    padding: 0 1.8em;
  }

  h3,
  #accreditations h3,
  #certifications h3 {
    font-size: 1.8em;
  }

  h3::after {
    margin-top: 0.5em;
  }

  #partners {
    grid-template-columns: 1fr 3fr 3fr 1fr;
  }

  #partner-1 {
    grid-column: 2 / 3;
  }

  #partner-2 {
    grid-column: 3 / 4;
  }

  #brands {
    grid-template-columns: 1fr 3fr 3fr 1fr;
  }

  footer {
    font-size: 0.8em;
  }

  @supports (display: flex) {
    nav li {
      width: 16%;
    }

    nav i {
      padding: 0.25em 0 0.18em 0;
    }

    nav a {
      padding-bottom: 0.5em;
    }

  }
}

@media screen and (min-width: 750px) {
  #brands {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #brands img {
    width: 7em;
  }
}

@media screen and (min-width: 800px) {
  main {
    padding: 0 2.5em;
  }

  p,
  main li,
  h4 {
    font-size: 1.28em;
  }

  #partners {
    grid-template-columns: 1fr 2fr 2fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  #partners {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4em;
  }

  #slogan {
    font-size: 1.86em;
  }

  main {
    padding: 0 3em;
  }

  h3,
  #accreditations h3,
  #certifications h3 {
    font-size: 2em;
  }

  p,
  main li,
  h4 {
    font-size: 1.3em;
  }

  @supports (display: flex) {
    nav li {
      font-size: 1.6em;
    }

    nav i {
      padding-bottom: 0.33em;
    }
  }
}
